<div id="diplomes" class="section wow fadeIn">
    <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="{% static 'images/icon-logo.png' %}" alt="#"></span>
            <h2>DIPLÔMES ET FORMATIONS</h2>
        </div>
        <!-- end title -->
        <div class="row">
             <!-- end col -->
             <div class="col-md-6">
                <div class="post-media wow fadeIn">
                    <img src="{% static 'images/about_03.jpg' %}" alt="" class="img-responsive">
                    <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]"
                        class="playbutton"><i class="flaticon-play-button"></i></a>
                </div>
                <!-- end media -->
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="message-box">
                    <h4>CABINET ORL</h4>
                    <h2>Dr.Ahmed kabbaj</h2>
                    <ul>
                        <li>Docteur en médecine à la faculté de Tours</li>
                        <li>DES d'Oto-Rhino-Laryngologie</li>
                        <li>DESC de chirurgie cervico-faciale</li>
                        <li>Ancien interne des hôpitaux de Tours</li>
                        <li>Ancien Chef de clinique à la faculté de médecine de Tours</li>
                        <li>Ancien chirurgien à l'Institut Claudius Regaud à Toulouse (Centre de lutte contre le cancer)</li>
                        <li>DU de cancerologie cervico-faciale Institut Gustave Roussy Villejuif</li>
                        <li>DU d'échographie cervicale</li>
                    </ul>
                   
                </div>
                <!-- end messagebox -->
            </div>
           
        </div>
    </div>
    <!-- end container -->
</div>