{% load static %}
<!DOCTYPE html>
<html lang="fr">
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- Site Metas -->
<title>CABINET ORL - Bienvenue aux Centre Atlas</title>
<meta name="keywords" content="orl marrakech, medecins orl marrakech
                            docteur orl marrakech, médecin orl marrakech
                            orl medecin marrakech, medecin oreille marrakech
                            orl marrakech mhamid, docteur orl marrakech mhamid,
                            Docteur Bouadel Nourddine Centre Atlas,
                            scanner, ORL enfants adultes, consultation endoscopie, 
                            ronflements et troubles du sommeil, acouphènes, troubles de l'audition, vertiges,">
<meta name="description" content="Le docteur Bouadel Nourddine, ORL, chirurgien de la face, vous reçoit à Marrakech. Le docteur Berreby vous reçoit pour tous types de soins ORL enfants adultes, (consultation endoscopie, ronflements et troubles du sommeil, acouphènes, troubles de l'audition, vertiges, cone beam (scanner) etc.), et en médecine esthétique de la face (injections d'acide hyaluronique, toxine botulique, lissage laser, etc.). Équipé d'un matériel de pointe, le docteur Berreby soignera au mieux toutes vos pathologies. Pour une bonne prise en charge, il s'attache à être à l’écoute de ses patients. Diplômé en chirurgie cervico-faciale, le docteur Berreby pratique la chirurgie plastique et reconstructive de la face (rhinoplastie, otoplasties, etc.).">
<meta name="author" content="">
<!-- Site Icons -->
<link rel="shortcut icon" href="{% static 'images/apple-touch-icon3.png' %}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon3.png' %}">
<!-- Bootstrap CSS -->


<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!-- Site CSS -->
<link rel="stylesheet" href="{% static 'style.css' %}">
<!-- Colors CSS -->
<link rel="stylesheet" href="{% static 'css/colors.css' %}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="{% static 'css/versions.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<!-- <script src="{% static 'js/jquery-ui.min.js' %}"></script> -->
<!-- Bootstrap core JS -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- Bootstrap core JS -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> -->

<script>
    $(document).on('click','.navbar-collapse.in',function(e) {
        if( $(e.target).is('a:not(".dropdown-toggle")') ) {
            $(this).collapse('hide');
        }
    });
</script>

<!--  -->

<!-- Modernizer for Portfolio -->
<script src="{% static 'js/modernizer.js' %}"></script>


<!-- [if lt IE 9] -->
</head>

<body class="clinic_version">
    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="{% static 'images/loaders/heart-loading2.gif' %}" alt="">
    </div>
    <!-- END LOADER -->

    {% include 'items/header.html' %}


    
    {% block content %}
        
    {% endblock content %}
        

    {% include 'items/footer.html' %}
    
    <div class="copyright-area wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-text">
                        <p>© {{ now_date }} Centre Atlas. Tous les droits sont réservés..</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <ul class="social-links">
                            <li><a href=""><i class="fa fa-rss"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyrights -->
    <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    <!-- all js files -->

    
    
    <script src="{% static 'js/all.js' %}"></script>
    <!-- all plugins -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="{% static 'js/register.js' %}"></script> 
    <!-- map -->
    <!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUPWkb4Cjd7Wxo-T4uoUldFjoiUA1fJc&callback=myMap"></script> -->
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUPWkb4Cjd7Wxo-T4uoUldFjoiUA1fJc&callback=myMap&libraries=&v=weekly"
        async
      ></script>
</script>
</body>

</html>