{% extends 'base.html' %}

{% load static %}


{% block content %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> -->
<script src="{% static 'js/modal_bootstrap3.js' %}"></script>

<style>
    .msg-error {
        color: red;
        font-size: 11px;
    }

    .msg-error ul {
        padding: 5px;
    }

    .modal-confirm {
        color: #636363;
        width: 325px;
        font-size: 14px;
    }

    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }

    .modal-confirm .form-control,
    .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px;
    }

    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }

    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
    }

    .modal-confirm .icon-box {
        color: #fff;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #82ce34;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .modal-confirm .icon-box i {
        font-size: 58px;
        position: relative;
        top: 3px;
    }

    .modal-confirm.modal-dialog {
        margin-top: 80px;
    }

    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #82ce34;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
    }

    .modal-confirm .btn:hover,
    .modal-confirm .btn:focus {
        background: #6fb32b;
        outline: none;
    }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>



<div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4"
    style="background-image:url( {% static 'images/slider-bg.png' %} );">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="text-contant">
                    <h2>
                        <span class="center"><span class="icon"><img src="{% static 'images/icon-logo.png' %}"
                                    alt="#" /></span></span>
                        <a href="" class="typewrite" data-period="2000"
                            data-type='[ "Bienvenue au Centre Atlas", "Nous nous soucions de votre santé", "Nous sommes experts!" ]'>
                            <span class="wrap"></span>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end section -->
<div id="time-table" class="time-table-section">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time one" style="background:#2895f1;">
                    <span class="info-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></span>
                    <h3>Équipement et matériel</h3>
                    <p>Nous avons les équipement et le matériel les plus sophistiqués pour garantir votre confort et une
                        expérience agréable de vos soins.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time middle" style="background:#0071d1;">
                    <span class="info-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                    <h3>Heures d'ouverture</h3>
                    <div class="time-table-section">
                        <ul>
                            <li><span class="left">Lundi - Vendredi</span><span class="right">09:00 – 18:00</span>
                            </li>
                            <li><span class="left">Samedi</span><span class="right">09:00 – 14:00</span></li>
                            <li> <span style="font-size: x-small;" class="center">Sauf les dimanches et les jours
                                    fériés.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row">
                <div class="service-time three" style="background:#0060b1;">
                    <span class="info-icon"><i class="fa fa-user-md" aria-hidden="true"></i></i></span>
                    <h3>CABINET ORL</h3>
                    <p> Le docteur Bouadel vous reçoit pour tous types de soins ORL enfants et adultes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="about" class="section wow fadeIn">
    <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="{% static 'images/icon-logo.png' %}" alt="#"></span>
            <h2>Présentation</h2>
        </div>
        <!-- end title -->
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h4>CABINET ORL</h4>
                    <h2>Dr.Bouadel Nourddine</h2>
                    <p class="lead">
                        Le docteur Bouadel Nourddine, ORL, chirurgien de la face, vous reçoit à son cabinet Situé à
                        marrakech,
                        pour tous types de soins ORL enfants et adultes, (consultation endoscopie, ronflements et
                        troubles du sommeil, acouphènes, troubles de l'audition, vertiges, cone beam (scanner) etc.), et
                        en médecine esthétique de la face (injections d'acide hyaluronique, toxine botulique, lissage
                        laser, etc.).
                        Équipé d'un matériel de pointe, le docteur Bouadel soignera au mieux toutes vos pathologies.
                        Pour une bonne prise en charge, il s'attache à être à l’écoute de ses patients.
                        <!-- Diplômé en chirurgie cervico-faciale, le docteur Bouadel pratique la chirurgie plastique et reconstructive de la face (rhinoplastie, otoplasties, etc.). -->
                    </p>
                </div>
                <!-- end messagebox -->
            </div>
            <!-- end col -->
            <div class="col-md-6">
                <div class="post-media wow fadeIn">
                    <img src="{% static 'images/about_03.jpg' %}" alt="" class="img-responsive">
                    <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]"
                        class="playbutton"><i class="flaticon-play-button"></i></a>
                </div>
                <!-- end media -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <hr class="hr1">
        <div class="row">
            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="{% static 'images/doctor/DSC_0016.jpg' %}" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="{% static 'images/doctor/DSC_0016.jpg' %}" alt="" class="img-responsive">
                    </div>
                    <h3>Digital Control Center</h3>
                </div>
                <!-- end service -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn"> 
                        <a href="{% static 'images/doctor/DSC_0019.JPG' %}" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="{% static 'images/doctor/DSC_0019.JPG' %}" alt="" class="img-responsive">
                    </div>
                    <h3>Hygienic Operating Room</h3>
                </div>
                <!-- end service -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="{% static 'images/doctor/DSC_0024.JPG' %}" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="{% static 'images/doctor/DSC_0024.JPG' %}" alt="" class="img-responsive">
                    </div>
                    <h3>Specialist Physicians</h3>
                </div>
                <!-- end service -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="{% static 'images/doctor/DSC_0040.JPG' %}" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="{% static 'images/doctor/DSC_0040.JPG' %}" alt="" class="img-responsive">
                    </div>
                    <h3>Digital Control Center</h3>
                </div>
                <!-- end service -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>



<div id="service" class="services wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="inner-services">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="serv">
                            <span class="icon-service"><img src="{% static 'images/service-icon1.png' %}"
                                    alt="#" /></span>
                            <h4>Bilan Auditif</h4>
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing.</p> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="serv">
                            <span class="icon-service"><img src="{% static 'images/service-icon2.png' %}"
                                    alt="#" /></span>
                            <h4>Chirurgie cervico-faciale</h4>
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing.</p> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="serv">
                            <span class="icon-service"><img src="{% static 'images/service-icon3.png' %}"
                                    alt="#" /></span>
                            <h4>Chirurgie endoscopique du nez et du sinus</h4>
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing.</p> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="serv">
                            <span class="icon-service"><img src="{% static 'images/service-icon4.png' %}"
                                    alt="#" /></span>
                            <h4>CHILDREN CARE CENTER</h4>
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing.</p> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="serv">
                            <span class="icon-service"><img src="{% static 'images/service-icon5.png' %}"
                                    alt="#" /></span>
                            <h4>Chirurgie de la face et du cou</h4>
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing.</p> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="serv">
                            <span class="icon-service"><img src="{% static 'images/service-icon6.png' %}"
                                    alt="#" /></span>
                            <h4>Chirurgie esthétique de la face</h4>
                            <!-- <p>Lorem Ipsum is simply dummy text of the printing.</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="appointment-form">
                    <div>
                        <h3><span>+</span> Prendre rendez-vous</h3>
                    </div>
                    <div class="form">
                        <form id="AppointmentForm" action="{% url 'home_page' %}" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                            {{ form.full_name }}
                                            <span class="msg-error">{{ form.full_name.errors }}</span>

                                            <!-- <input type="text" id="name" placeholder="Your Name" /> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                            {{ form.phone }}
                                            <!-- <span class="msg-error" >{{ form.phone.errors }}</span> -->

                                            <!-- <input type="email" placeholder="Email Address" id="email" /> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-section">
                                    <div class="row">
                                        <div class="form-group">
                                            {{ form.day }}
                                            <span class="msg-error">{{ form.day.errors }}</span>
                                            <!-- <select class="form-control">
                                                <option>Day</option>
                                                <option>Sunday</option>
                                                <option>Monday</option>
                                            </select> -->
                                        </div>
                                        <div class="form-group">
                                            {{ form.time }}
                                            <span class="msg-error">{{ form.time.errors }}</span>
                                            <span id="error_time" class="msg-error"></span>
                                        </div>
                                        <div class="form-group">
                                            {{ form.time_minute }}
                                            <span class="msg-error">{{ form.time_minute.errors }}</span>
                                            <span id="error_min" class="msg-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <span class="msg-error">{{ form.message.errors }}</span>
                                            {{ form.message }}
                                            <!-- <textarea rows="4" id="textarea_message" class="form-control"
                                                placeholder="Your Message..."></textarea> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="center"><button type="submit">Envoyer</button></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

<!-- doctor -->
<!-- Deleted -->
<!-- doctor -->
<!-- price deleted -->
<!-- end doctor section -->

<!-- testimonials -->
<!-- Deleted -->

<!-- testimonials -->
<!-- end section -->
<div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
    <div class="container">
        <div class="heading">
            <span class="icon-logo"><img src="{% static 'images/icon-logo.png' %}" alt="#" /></span>
            <h2>Entrer en contact </h2>
            
        </div>
    </div>
    <div class="contact-section">
        <div class="form-contant">
            <form id="ajax-contact" action="{% url 'send_mail' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group in_name">
                            <input type="text" name="name" style="color: white;" class="form-control" placeholder="Nom" required="required">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group in_email">
                            <input type="email" name="email" style="color: white;"  class="form-control" placeholder="E-mail" required="required">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group in_email">
                            <input type="tel" name="phone" style="color: white;" class="form-control" id="phone" placeholder="Téléphone"
                                required="required">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group in_email">
                            <input type="text" name="subject" style="color: white;" class="form-control" id="subject" placeholder="Sujet"
                                required="required">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group in_message">
                            <textarea class="form-control" name="message" style="color: white;" id="message" rows="5" placeholder="Message"
                                required="required"></textarea>
                        </div>
                        <div class="actions">
                            <input type="submit" value="Send Message" name="submit" id="submitButton" class="btn small"
                                title="Submit Your Message!">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <iframe id=""
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3398.65982953825!2d-8.040560284847704!3d31.588374981347098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6b82f69120f794b4!2zMzHCsDM1JzE4LjIiTiA4wrAwMicxOC4xIlc!5e0!3m2!1sfr!2sma!4v1646924093530!5m2!1sfr!2sma"
            style="width:100%;height:450px;" allowfullscreen="" loading="lazy"></iframe>
        <!-- <div id="googleMap" style="width:100%;height:450px;"> -->
    </div>
    <select style="display: none;" name="" id="id_option">

        {% for date in disabled_days %}
        <option value="{{date}}"></option>
        {% endfor %}

    </select>
</div>
</div>
{% if messages %}
{% for message in messages %}
<!-- Modal HTML -->
<div id="flipFlop" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Merci!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">{{ message }}.</p>
			</div>
			<div class="modal-footer">
				<button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal" >Ok</button>
			</div>
		</div>
	</div>
</div> 
{% endfor %}
{% endif %}


<!-- <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
    style="display: block;">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100">Awesome!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" class="close" data-dismiss="modal"
                    aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</div> -->

<!-- jQuery library -->
<!-- Bootstrap JS -->



<script>
    $("#flipFlop").modal('show');
    $("#closeModal").click(function(){
        $("#myModal").modal('hide');
    })
    // Initialize tooltip component
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    // Initialize popover component
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

<script>


    var disabled_days = new Array();
    // var disabled_days = [new Date("2022-03-16"), new Date("2022-03-17"), new Date("2022-03-18")];
    $("#id_option").each(function () {
        disabled_days.push(new Date($(this).val()))
    });


    function disableDays(date) {
        var ret = false;
        $("#id_time_minute > option").each(function () {
            $(this).attr("selected", false)
        });
        $("#id_time > option").each(function () {
            $(this).attr("selected", false)
        });
        $.each(disabled_days, function (k, v) {
            if (v.getDate() == date.getDate()) {
                console.log(v + 'vs.' + date + ' invalid');
                ret = [false];
                return false;
            } else {
                ret = [true];
            }
        });
        return ret;
    }

    $("#id_day").datepicker({
        dateFormat: "yy-mm-dd",
        minDate: 0,
        beforeShowDay: disableDays,
        onSelect: disabledHours
    });
    $("#id_time").change(function(){
        if($('#id_day').val() )
        {
            $("#error_time").text("")
            $("#id_time_minute > option").each(function () {
                $(this).attr("selected", false)
            });
            disabledMins()
        }
        else 
        {
            $("#id_time_minute > option").each(function () {
                $(this).attr("selected", false)
            });
            $("#id_time > option").each(function () {
                $(this).attr("selected", false)
            });
            $("#error_time").text("vous devez d'abord sélectionner la date")
        }
        
    })
    $("#id_time_minute").change(function(){
        if($('#id_day').val() || $("#id_time").children("option:selected").val())
        {
            $("#error_min").text("")
        }
        else 
        {
            $("#id_time_minute > option").each(function () {
                $(this).attr("selected", false)
            });
            $("#error_min").text("vous devez d'abord sélectionner la date et l'heur")
        }
        
    })
    function disabledHours(dateText) {
        $("#id_time > option").each(function () {
            $(this).attr("disabled", false)
        });
        $("#id_time_minute > option").each(function () {
            $(this).attr("selected", false)
        });
        $.ajax({
            url: "{% url 'disabled_hours' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', day: this.value },
            type: "post",
            dataType: 'json',
            success: function (data) {
                let hours = data.hours;

                hours.forEach(hour => {
                    $('#id_time option[value="' + hour + '"]').attr("disabled", true)
                });
            },
            error: function (xhr, status) {

            }
        });
        console.log("Selected date: " + dateText + "; input's current value: " + this.value);
    }

    function disabledMins(dateText) {
        $("#id_time_minute > option").each(function () {
            $(this).attr("disabled", false)
        });
        let day = $("#id_day").val()
        let hour = $("#id_time").children("option:selected").val();
        $.ajax({
            url: "{% url 'disabled_mins' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', day: day, hour: hour },
            type: "post",
            dataType: 'json',
            success: function (data) {
                let mins = data.mins;

                mins.forEach(min => {
                    $('#id_time_minute option[value="' + min + '"]').attr("disabled", true)
                });
            },
            error: function (xhr, status) {

            }
        });
        console.log("Selected date: " + dateText + "; input's current value: " + this.value);
    }

</script>

{% endblock content %}