{% load static %}

<footer id="footer" class="footer-area wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="logo padding">
                    <a href=""><img src="{% static 'images/logo_centre_atlas_orl.png' %}" alt=""></a>
                    <!-- <p>Locavore pork belly scen ester pine est chill wave microdosing pop uple itarian cliche
                        artisan.</p> -->
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="footer-info padding">
                    <h3>NOUS CONTACTER</h3>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Les Jardins Des Orangers, Marrakech 40160</p>
                    <p><i class="fa fa-paper-plane" aria-hidden="true"></i> centre.orl.atlas@gmail.com</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> 0524010444 / +212644445956</p>
                </div>
            </div>
            
        </div>
    </div>
</footer>